* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
    padding: 1rem;
}

body .hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.login {
    border-radius: 10px;
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: #f542d4;
    padding: 2rem;
    max-width: 500px;
}

.login label,
.login input {
    color: white;
}

.login label {
    font-size: 1.4em;
}

.login input[type="text"] {
    border: none;
    padding: 0.5rem;
    color: black;
    font-size: 1.2em;
}

.login input[type="submit"],
.login input[type="button"] {
    background-color: #080c33;
    padding: 1rem;
    font-size: 1.3em;
}

.login input[type="submit"]:hover,
.login input[type="button"]:hover {
    background-color: #0c1355;
    cursor: pointer;
}
.game {
    max-width: 600px;
    margin: auto;
}

.game > p {
    padding: 1rem;
}

.canvas-container {
    max-width: 600px;
    margin: auto;
    display: flex;
}

.game .canvas-container .canvas {
    flex: 400px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game .canvas-container .leaderboard {
    flex: 200px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.leaderboard ul {
    list-style: none;
    padding: 0;
}

.leaderboard ul li {
    padding: 0.6rem;
    border-radius: 5px;
}

.leaderboard .active {
    background-color: #fde7f9;
}
button {
    font-size: 1.3em;
    padding: 0.7rem 1.2rem;
    background-color: #f542d4;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #d305ad;
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
